<div class='coming_soon'>
  
  <h1>Coming Soon To Your Area</h1>
  <h2>Enter Your Email To Get Updates From Greenir Regarding Our Availability In Your Area!</h2>

  <div class='coming_soon_form'>

      <form method="GET" action="/utilities/:id">
        <input name='zip' type='text' placeholder="Email Address">
        <button>Stay In Touch</button>
      </form>

  </div>
</div>