<div class='faq'>
  <div class='how_form'>
    <h1>Switch In Just Minutes</h1>
      <form method="GET" action="utilities/:id">
        <input type='text' placeholder="Zip Code" name="zip">
        <button>Go</button>
      </form>
  </div>

  <div class='questions'>
    <h1>General</h1>

    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            - What is Greenir?
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            Greenir empowers residents in deregulated energy markets to easily switch their existing electricity providers to 100% renewable packages. If you still have questions, please <a href="">Contact Us</a> at any time!
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            - Why Are We Doing This?
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            We believe that many individuals do not  realize that they can switch their residential energy supply to 100% renewable options. Our goal is to educate and make the process of switching utility packages as easy as possible.
          </div>
        </div>
      </div>

       <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
            - How Do I Know If I am Eligible To Switch?
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            If you pay your montly electricity bill directly to a utility company (instead of a building or landlord), you are eligible to switch. It's that simple!
          </br>
            As of right now, we are only available in New York. However, as we continue to grow, we plan to expand into the other 23 deregulated electricity markets. We hope services like ours will urge other states to deregulate and provide renewable options to their citizens.
          </div>
        </div>
      </div>

       <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
            - Will I Notice A Change In My Service When I Switch?
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
           Nope! Regardless of which company you chose, you will not experience any changes in service, and will continue to receive electricity from the same local wires companies, which are regulated by your state.
           This means, if there is a power outage or any other emergency, your electricity will not come back any faster or slower than it would have previously.
          </div>
        </div>
      </div>

     <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
            - OK, I Made The Switch, Now What?
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            First off, we'd like to commend you for your wise choise! 
            The process is fairly simple. Your new energy supplier will reach out and walk you through the onboarding process. No need to cancel your existing service, this will be taken care of for you.
            Once you are signed up, you will be requied to pay the final bill(s) for your current energy supplier. Once that agreement ends, you will be automatically switched to your new, Greenir supplier - there will be no observable change in service and you will not be without electricity at any time.
          </div>
        </div>
      </div>

    </div>
<!-- End Accordion -->

  </div>

<h1>Have More Questions? <a href="">Contact Us</a> At Any Time!</h1>
</div>