<div class='faq'>
  <div class='how_form'>
    <h1>Switch In Just Minutes</h1>
      <form method="GET" action="utilities/:id">
        <input type='text' placeholder="Zip Code" name="zip">
        <button>Go</button>
      </form>
  </div>

  <div class='questions'>
    <h1>General</h1>

    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            What is Greenir?
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            Greenir empowers residents in the 17 deregulated energy markets to easily switch their existing electricity providers to 100% renewable packages. If you still have questions, please check out our <a href="/how">"How It Works"</a> page or <a href="">Contact Us</a> at any time!
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Why Are We Doing This?
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            We believe that many individuals do not  realize that they can switch their residential energy supply to 100% renewable options. Our goal is to educate and make the process of switching utility packages as easy as possible.
          </div>
        </div>
      </div>

       <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
            How Do I Know If I am Eligable To Switch?
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            If you pay your montly electricity bill directly to a utility company (instead of a building or landlord), you are eligable to switch. It's that simple!
          </br>
            As of right now, we are only available in New York. However, as we continue to grow, we plan to expand into the other 16 deregulated energy markets. We hope services like ours will urge other states to deregulate and provide renewable options to their citizens.
          </div>
        </div>
      </div>


    </div>
<!-- End Accordion -->
  </div>


</div>