<div class='show'>

  <div class='show_top'>
    <h1>Showing Results For</h1>
      <form method="GET" action="/utilities/:id">
          <input type='text' placeholder="<%= @zip %>" name="zip">
          <button>Change Zip</button>
      </form>
  </div>


    <div id='results_dropdown'>
      <p>Current Price: <span style='color:green;'>18.17¢ <span style='font-size:15px;'>/per kWh*</span></span></p>
      <select class='order_results'>
        <option>Lowest Price</option>
        <option>Highest Rated</option>
      </select>
    </div>

  </br></br>

  <div class='show_results'>

    <div class='results'>
      <div class='row'>
        <div style='text-align:center;' class='col-sm-2'>
          <img src="/assets/oasis_energy.png">
        </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div id='result_bio' class='col-sm-8'>
          Oasis Energy, an energy supplier focusing on the Illinois, Maryland, Pennsylvania, and New York markets, strives to help its customers make smart energy decisions and provide the best support and service to its residential and commercial electricity and natural gas customers. Oasis Energy's philosophy is that “our customers deserve peace of mind when it comes to their energy decisions. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>12.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>

      <div class='results'>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="/assets/napower.png">
           </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div id='result_bio' class='col-sm-8'>
          North American Power, one of Forbes Top 100 Most Promising Companies 2011, is dedicated to providing its customers with competitive electricity and natural gas rates that are focused on helping the environment through renewable energy sources. Founded in 2009, North American Power offers its services in many states throughout the country, including Connecticut, New York, Ohio, and Pennsylvania among other deregulated states. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
          <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>


       <div class='results'>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="/assets/coned.png">
          </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div id='result_bio' class='col-sm-8'>
          ConEdison Solutions is a national energy services leader that provides competitive power supply, renewable energy, sustainability services, and cost-effective energy solutions for commercial, industrial, residential, and government customers. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>
       <div class='results'>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="/assets/oasis_energy.png">
        </div>
        <div id='result_bio' class='col-sm-8'>
          Oasis Energy, an energy supplier focusing on the Illinois, Maryland, Pennsylvania, and New York markets, strives to help its customers make smart energy decisions and provide the best support and service to its residential and commercial electricity and natural gas customers. Oasis Energy's philosophy is that “our customers deserve peace of mind when it comes to their energy decisions. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>12.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>


    </div>



  </div>


</div>