<div class='show'>

  <div class='show_top'>
    <h1>Showing Results For</h1>
      <form method="GET" action="/utilities/:id">
          <input type='text' placeholder="<%= @zip %>" name="zip">
          <button>Change Zip</button>
      </form>
  </div>


    <div id='results_dropdown'>
      <p>Current Price: <span style='color:green;'>18.17¢ <span style='font-size:15px;'>/per kWh*</span></span></p>
      <select class='order_results'>
        <option>Lowest Price</option>
        <option>Highest Rated</option>
      </select>
    </div>

  </br></br>

  <div class='show_results'>

 <div class='results'>
      <div class='row'>
        <div style='text-align:center;' class='col-sm-2'>
          <img style='margin-top:30px;' src="/assets/independence_energy.png">
        </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div style='margin-top: 20px;' id='result_bio' class='col-sm-8'>
          Independence Energy's mission is to empower people to Make Choices that Change Lives through positive energy options. Their products have at least 20% green, renewable energy at competitive rates. They also offer True Green, their 100% green, renewable energy product option. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>12.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>



    <div class='results'>
      <div class='row'>
        <div style='text-align:center;' class='col-sm-2'>
          <img style='margin-top:30px;' src="/assets/green_mountain_energy.png">
        </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div style='margin-top: 10px;' id='result_bio' class='col-sm-8'>
          Green Mountain Energy Company is New York's leading competitive retail provider of cleaner energy. They offer renewable energy products to residential and commercial customers, such as Pollution FreeTM electricity made from renewable New York wind and water sources. Switch to Green Mountain today and help make a difference for the environment — it's that easy. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>

    <div class='results'>
      <div class='row'>
        <div style='text-align:center;' class='col-sm-2'>
          <img style='margin-top:10px;' src="/assets/clearview_energy.jpg">
        </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div style='margin-top: 25px;' id='result_bio' class='col-sm-8'>
          Clearview Energy provides electric and gas services to residents and small businesses in the Northeast. Clearview offers flexible month-to-month plans, renewable energy plans that are 100% wind generated, and fixed rate plans to help manage your monthly budget. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>



    <div class='results'>
      <div class='row'>
        <div style='text-align:center;' class='col-sm-2'>
          <img style='margin-top:10px;' src="/assets/bluerock_energy.png">
        </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div style='margin-top: 25px;' id='result_bio' class='col-sm-8'>
          BlueRock Energy, a premier provider of electricity, natural gas and green energy products, invites you to tour its site to discover how the BlueRock Advantage sets it apart from industry standards. BlueRock Energy is not just an energy provider, but a true business partner with its residential, commercial and industrial partners. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>


    <div class='results'>
      <div class='row'>
        <div style='text-align:center;' class='col-sm-2'>
          <img src="/assets/oasis_energy.png">
        </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div id='result_bio' class='col-sm-8'>
          Oasis Energy, an energy supplier focusing on the Illinois, Maryland, Pennsylvania, and New York markets, strives to help its customers make smart energy decisions and provide the best support and service to its residential and commercial electricity and natural gas customers. Oasis Energy's philosophy is that “our customers deserve peace of mind when it comes to their energy decisions. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>

      <div class='results'>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="/assets/napower.png">
           </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div id='result_bio' class='col-sm-8'>
          North American Power, one of Forbes Top 100 Most Promising Companies 2011, is dedicated to providing its customers with competitive electricity and natural gas rates that are focused on helping the environment through renewable energy sources. Founded in 2009, North American Power offers its services in many states throughout the country, including Connecticut, New York, Ohio, and Pennsylvania among other deregulated states. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
          <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>


       <div class='results'>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="/assets/coned.png">
          </br><span style='font-weight:bold; padding-top:10px;'>100% Renewable</span>
        </div>
        <div style='margin-top: 35px;'id='result_bio' class='col-sm-8'>
          ConEdison Solutions is a national energy services leader that provides competitive power supply, renewable energy, sustainability services, and cost-effective energy solutions for commercial, industrial, residential, and government customers. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>13.5¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>
       


    </div>



  </div>


</div>